[submodule "attraction-classifier"]
	path = attraction-classifier
	url = git@github.com:simonSlamka/attraction-classifier
[submodule "simtoon-embeddings"]
	path = simtoon-embeddings
	url = git@github.com:ongakken/simtoon-embeddings
